@page "/fetchdata"
@page "/Member/fetchdata"

@inject HttpClient Http
    <h1> MEMBER DETAILS</h1>

<p>IATCINDIA MEMBER DETAILS APIs</p>

@if (memberdetails == null)
{
    <p><em>Loding...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in memberdetails)
            {
                <tr>
                    <td>@member.AddressLine1</td>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                    <td>@member.Iatcregno</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public IatcindiaMMemberdetailsTest[] memberdetails;

    protected override async Task OnInitializedAsync()
    {
        memberdetails = await Http.GetJsonAsync<IatcindiaMMemberdetailsTest[]>("/api/Member/GetAll");
    }


}
